body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
#ctnButtons{
    display: flex;
    gap: 50px;
}
#gridContainer{
    background-color: rgb(145, 153, 153);
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}
.gridPlay{
    outline: 1px solid black
}
button{
    height: 50px;
    width: 50px;
}


