body{
    display: flex;
    justify-content: center;
}
#gridContainer{
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}
.gridPlay{
    outline: 1px solid black
}
.gridPlay:hover{
    background-color: blue;
}

